*{
  direction: rtl;
}
.example-form-field {
  width: 200px;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  padding:5%;
}

.example-full-width {
  width: 100%;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
h5,p{
  text-align: center;
}
.mat-input-element{
  text-align: right;
}
mat-label{
  display: flex;
}